.dasboard-parent {
  width: calc(100% - 300px);
  height: calc(100svh - 50px - 8%);
  margin-left: 300px;
  margin-top: calc(8% + 20px);
  .dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--unit) * 2);
    background: linear-gradient(var(--accent), var(--teal));
    border-radius: 10px;

    .dashboard-left {
      width: 50%;
      padding: 10px;
      // background-color: rgba(255, 0, 0, 0.171);
      display: flex;
      align-items: center;
      justify-content: center;
      // gap: calc(var(--unit));
      flex-wrap: wrap;
      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
        gap: calc(var(--unit)/2);
        
        span{
          font-size: calc(var(--unit)*2);
          font-weight: 400;
          color: var(--white);
        }
        p{
          font-size: calc(var(--unit));
          color: var(--white);
          opacity: 0.7;

        }
      }
      .box-1 {
        width: 40%;
      
      }
      .box-2 {
        width: 40%;
      }
      .box-3 {
        width: 40%;
        border-top: 1px solid rgba(255, 255, 255, 0.144);


      }
      .box-4 {
        width: 40%;
        border-top: 1px solid rgba(255, 255, 255, 0.144);
      }
    }
    .dashboard-right {
      width: 50%;
      padding: 20px 0px;
      
    }
  }
}
