.login-parent {
  height: 100vh;

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .login-box {
      width: 600px;
      height: auto;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
      border-radius: 10px;
      display: flex;
      align-items: stretch;
      justify-content: center;
      background-color: white;

      .left-login {
        width: 60%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: calc(var(--unit) * 2);

        h2 {
          font-size: 40px;
          font-weight: 500;
        }

        .username-password {
          display: flex;
          flex-direction: column;
          gap: calc(var(--unit));

          .username {
            width: 100%;
          }

          .password {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .eye-icon {
              position: absolute;
              top: 30%;
              right: 10px;
              cursor: pointer;
            }
          }

          input {
            border: 1px solid rgba(0, 0, 0, 0.164);
            outline: none;
            height: 40px;
            background-color: transparent;
            border-radius: 5px;
            padding: 5px 10px;
            width: 100%;
            &::placeholder {
              color: rgba(8, 8, 8, 0.315);
            }

            .eye-icon {
            }
          }
        }
      }
      .right-login {
        width: 40%;
        height: auto;
        background: linear-gradient(rgba(0, 0, 0, 0.096), rgba(0, 0, 0, 0.096)),
          url("../assets/login/building.webp");
        border-radius: 0px 10px 10px 0px;
      }
    }
  }
}
