.view-project-parent {
  width: calc(100% - 300px);
  height: calc(100svh - 50px - 8%);
  margin-left: 300px;
  margin-top: calc(8% + 20px);

  .view-project-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--unit));
    padding: 20px;
    .view-projects-left {
      width: 40%;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;

      .v-p-box {
        display: flex;
        padding: 20px;
        border-radius: calc(var(--unit) / 2);
        background-color: white;
        width: calc(100% / 2 - 20px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: calc(var(--unit) / 2);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        height: 150px;
      }
    }

    .view-projects-right {
      width: 60%;
      border-radius: 10px;
      box-shadow: var(--shadow);
      background: var(--white);
      display: flex;
      align-items: flex-start;
      padding: 15px 0px 0px 0px;

      .pie-chart {
        width: 40%;
      }
      .projects-values {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .project-expenses {
          display: flex;
          align-items: center;
          gap: 10px;

          .small-box {
            width: 15px;
            height: 15px;
            padding: 5px;
          }
        }
      }
    }
  }
}
